body {
  padding: 0px;
  margin: 0px;
  font-family: "Poppins", sans-serif;
}
h1 {
  font-size: 40px;
}
h2 {
  font-size: 30px;
}
.link-button {
  text-decoration: none;
  color: #fff;
  background-color: rgba(230, 126, 34, 1);
  padding: 10px 40px;
  border-radius: 5px;
  background-image: linear-gradient(rgba(255, 165, 0, 1), rgba(255, 99, 71, 1));
  margin-bottom: 15px;
}
/* ========== Top Section ========== */
#top-section {
  display: flex;
  margin-bottom: 150px;
}

#top-section .flexible-box {
  width: 50%;
  margin-left: 15%;
}
#top-section .heading-colour {
  color: rgba(0, 184, 148, 1);
}
#top-section .top-section-heading h1 {
  margin-left: 10px;
}
#top-section .top-section-heading {
  border-left: 6px solid;
  border-image: linear-gradient(rgba(225, 112, 85, 1), rgba(255, 118, 117, 1));
  border-image-slice: 1;
}
#top-section .flexible-box img {
  width: 80%;
}

/* =========== My Mission in 2022 ========== */
#my-goal-area {
  margin-bottom: 150px;
}
#my-goal-area h1 {
  text-align: center;
}
#my-goal-area span {
  color: rgba(0, 184, 148, 1);
}
#my-goal-area .container {
  display: flex;
  margin-left: 15%;
}
#my-goal-area img {
  width: 40%;
}
#my-goal-area .container p {
}
#my-goal-area .my-goal-area {
  border-radius: 15px;
  box-shadow: 5px 5px 10px rgba(44, 62, 80, 1);
  height: 400px;
  width: 25%;
  margin-left: 18px;
}
#my-goal-area .my-mission {
  background-color: rgba(199, 236, 238, 1);
}
#my-goal-area .my-vission {
  background-color: rgba(255, 159, 243, 1);
}
#my-goal-area .my-goals {
  background-color: rgba(250, 211, 144, 1);
}
#my-goal-area .container p {
  margin-left: 20px;
}
#my-goal-area .container h5 {
  margin-left: 20px;
  font-size: 20px;
}

/* ========== Developer section ========== */
#developer-section {
  display: flex;
  margin-left: 20%;
  margin-bottom: 150px;
}
#developer-section .flexible-box img {
  width: 50%;
}
#developer-section .flexible-box {
  width: 50%;
}

/* ==========Global Community ========== */
#global-community {
  display: flex;
  margin-left: 20%;
  margin-bottom: 150px;
}
#global-community .flexible-box img {
  width: 50%;
}
#global-community .flexible-box {
  width: 50%;
}
/* ========= Download CV ========= */
#down-cv {
  display: flex;
  margin-left: 20%;
  margin-bottom: 100px;
}
#down-cv .flexible-box img {
  width: 50%;
}
#down-cv .flexible-box {
  width: 50%;
}
/* ========== footer ========== */
footer {
  background: #000;
  text-align: center;
}
.footer {
  color: #fff;
}
.footer span {
  color: red;
}
